#layout {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* .fictiveimage {
  width: 100%;
  min-height: 300px;
} */


#worldmap {
  width: 100%;
  min-height: 400px;
}


#citysearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

}

#logo-header {
  width: 50px;
}

#shop-header {
  background-color: #343A40;
  color: #FFFFFF;
  padding: 10px;
}

@media screen and (max-width: 660px) {
  .formtypetext {
    max-width: 150px;
    margin-right: 15px;
    margin-left: 7px;
  }

  .formclickbutton {
    width: 100px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.meteodescription {
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 305px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.formclickbutton {
  background-color: rgb(255, 191, 67);
  border: none;
}
.formclickbutton:hover {
  background-color: rgb(255, 140, 67);
}

.deletepicto {
  color: rgb(255, 191, 67);
  cursor: pointer;
}

.deletepicto:hover {
  color: rgb(255, 140, 67);
}

.formArea {
  padding: 20px;
  margin-top: 30px;
}

.home {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: rgba(0, 0, 0, 0.3) !important;
  border: none !important;
  color: #FFFFFF !important;
  text-align: center;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF !important;
  opacity: 1; !important; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF !important;;
}

input:-webkit-autofill {
  border: none !important;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px
      rgba(102, 175, 233, 0.6);
}

.titleForm {
  color: #138496;
  text-decoration: underline;
  padding-bottom: 10px;
}

.navItem {
  margin-bottom: 10px;
}

.userName {
  font-size: 56px !important;
}

.tableau {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tableau caption {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #343A40;
  /* caption-side: bottom; // top|bottom|initial|inherit; */
}

.tableau th {
  background-color: #666a73;
  color: #fff;
}

.tableau tfoot td {
  color: #fff;
  background-color: #666a73;
  border-top: 1px solid #343A40;
  border-bottom: 1px solid #343A40;
}

.zebre tbody tr:nth-child(odd) {
  background-color: #f2f2f3;
  border-bottom: 1px solid #ccc;
  color: #444;
}

.zebre tbody tr:nth-child(even) {
  background-color: #ccced2;
  border-bottom: 1px solid #ccc;
  color: #444;
}

.zebre tbody tr:hover:nth-child(odd) {
  background-color: #666a73;
  color: #ffffff;
}

.zebre tbody tr:hover:nth-child(even) {
  background-color: #666a73;
  color: #ffffff;
}

/* La couleur ne fonctionne pas avec odd / even */
.tableau col:nth-child(1) {
  background-color: #f2f2f3;
}

.tableau col:nth-child(2) {
  background-color: #dddad4;
  width: 100px;
  text-align: right;
}

.tableau col:nth-child(3) {
  background-color: #ccced2;
  color: #fff;
  width: 100px;
  text-align: right;
}

.tableau td:nth-child(2) {
  text-align: right;
}

.tableau td:nth-child(3) {
  text-align: right;
}

.tableInvoice {
padding: 25px;
}

.checkoutContainer{
  padding: 25px;
}